openapi: 3.1.0
info:
  title: ClickPost Cancellation Serviceability API
  description: ClickPost's REST API provides programmatic access to carrier recommendation, order creation, cancellation, serviceability, manifesting, pickup scheduling, tracking, proof of delivery, NDR action management, and returns. Authentication is token-based.
  version: 1.0.0
  contact:
    name: ClickPost Support
    url: https://www.clickpost.ai
  license:
    name: Proprietary
    url: https://www.clickpost.ai/terms-and-conditions
servers:
- url: https://www.clickpost.in/api/v1
  description: ClickPost API
security:
- apiKeyAuth: []
tags:
- name: Serviceability
  description: Pincode and zone serviceability.
paths:
  /serviceability/pincode:
    post:
      operationId: checkServiceability
      summary: Check pincode serviceability
      description: Check pincode carrier serviceability and pricing.
      tags:
      - Serviceability
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Serviceability result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
components:
  schemas:
    GenericRequest:
      type: object
      additionalProperties: true
    GenericResponse:
      type: object
      additionalProperties: true
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: query
      name: key
      description: ClickPost API token passed as a query parameter or header.
x-generated-from: https://docs.clickpost.ai/docs/getting-started
x-generated-by: claude-crawl-2026-05-08
